body {
  margin: 0;
  padding: 0;
}

.nes-btn {
  margin: 10px !important;
}

.nes-avatar {
  margin: 5px;
}

.nes-icon {
  margin-left: 5px;
  margin-right: 5px;
}

table td:last-child {
  width: 100%;
}

table.nes-table td.tooltip {
  padding: 0;
  position: relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:hover {
  background: #ddd;
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  left: 140%;

  /* basic styles */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  pointer-events: none;
  display: none; /* hide by default */
}

.tooltip:hover:before {
  display: block;
  z-index: 10000;
}

.sample-canvas {
  width: 1500px;
  height: 500px;
  transform: scale(0.8);
  transform-origin: center;
}

.spinner {
  animation: fadeinout 2s ease 1;
  animation-iteration-count: infinite;
}
.spinner i {
  margin: 0 20px;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
